USE [master]
GO
/****** Object:  Database [airline]    Script Date: 9/27/2016 6:22:36 PM ******/
CREATE DATABASE [airline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'airline', FILENAME = N'C:\Users\epicodus\airline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'airline_log', FILENAME = N'C:\Users\epicodus\airline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [airline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [airline]
GO
USE [airline]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 9/27/2016 6:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cities_flights]    Script Date: 9/27/2016 6:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities_flights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NULL,
	[flight_id] [int] NULL,
	[action] [varchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[flights]    Script Date: 9/27/2016 6:22:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NULL,
	[flight_number] [varchar](255) NULL
) ON [PRIMARY]

GO
USE [master]
GO
