<h1>Add a new City</h1>
<form action="/cities/new" method="post">
  <label for="city-name">City Name:</label>
  <input id="city-name" name="city-name" type="text">
  <button type="submit">Add new City</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/cities">View all Cities</a></p>
